:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  display: block;
  color: rgba(255, 255, 255, 0.87);
  font-size: 16px;
  margin-bottom: 4px;
}

a:hover {
  text-decoration: underline;
}

body {
  background-image: url('../bg.jpg');
  background-size: cover;
  background-position: center bottom;
}

.weather-container {
  min-width: 300px;
  min-height: 205px;
}

.weather-icon-container {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.weather-icon {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.50);
  border-radius: 10px;
}

.section-title {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 15px;
}

.weather-container,
.links-container {
  font-size: 18px;
  background-color: rgba(24, 32, 36, .8);
}